parameters:
    level: 7
    paths:
        - src/
    bootstrapFiles:
        - tests/bootstrap.php
    ignoreErrors:
        - '#.+SentryUserTransfer#'
        -
          identifier: missingType.iterableValue